.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 46%, 95%);
  color: hsl(217, 19%, 35%);
}

h1 {
  font-weight: 700;
  font-size: 23px;
  margin: 0;
}

p {
  font-size: 15px;
}

.card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  height: 45%;
  width: 60%;
  box-shadow: 0 4px 20px 12px hsl(212, 23%, 90%),
    0 6px 20px 0 hsl(212, 23%, 90%);
}

.card .side-chick {
  position: relative;
  width: 45%;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.content {
  padding: 45px;
}

.author {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.author h3 {
  font-weight: 700;
  margin: 0 0 5px 0;
}

.author img {
  width: 60px;
  height: 60px;
}

.avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.share {
  background-color: hsl(210, 46%, 95%);
  display: flex;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.share svg {
  margin: auto;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
